@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-Medium.ttf');
  font-weight:500;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-SemiBold.ttf');
  font-weight:600;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-Heavy.ttf');
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url('/fonts/gilroy/Gilroy-Regular.ttf');
  font-weight: 400;
}


:root {
  --primary-color: #FF5001;
}

.s-none {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 14;
  color: #131313;
  background: #fff;
}

.spinner {
  --loader-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--loader-color) 94%, #0000)
      top/9px 9px no-repeat,
    conic-gradient(#0000 30%, var(--loader-color));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.home-r1{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 53.85%, rgba(0,0,0,0.7) 100%), url('/img/home/r1.png');
  background-size: cover;
}

.home-r2{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 53.85%, rgba(0,0,0,0.7) 100%), url('/img/home/r2.png');
  background-size: cover;
}

.home-r3{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 53.85%, rgba(0,0,0,0.7) 100%), url('/img/home/r3.png');
  background-size: cover;
}